.landing-screen {
	margin-top: 7.5rem;
}

.landing-screen .introduction {
	padding-right: 6.25rem;
}

.landing-screen h1 {
	font-weight: bolder;
	font-size: 3rem;
}

.landing-screen h4 {
	text-decoration: underline;
	padding-bottom: 2.5rem;
}

.landing-screen p {
	font-size: 1.2rem;
}

.developer-pic {
	width: 100%;
	height: auto;
}

@media (max-width: 768px) {
	.introduction {
		margin-left: 2.5rem; /* 40px */
		margin-bottom: 1.875rem; /* 30px */
    }
    
    .landing-screen img {
        margin: 0 7.5%;
    }

	.introduction h1,
	h4,
	p {
		text-align: center;
	}

	.developer-pic {
        width: 85%;
    }
}